body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.nav-bar {
  position: fixed;
  width: 100%;
  height: 140px;
  border-bottom: solid black 15px;
  display: flex;
  justify-content: flex-end;
  background-color: white;
  z-index: 1;
}

.nav-link {
  font-size: 15px;
  font-weight: 900;
}

.nav-links-wrapper {
  display: flex;
  width: 73%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

#investor-portal {
  margin-right: 90px;
  height: 50px;
  width: 220px;
  background-color: #d3f8f8;
  display: flex;
  border: 1px solid #d3d3d3;
  justify-content: center;
  align-items: center;
}

.hero-section {
  height: 556px;
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  padding-top: 160px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  color: white;
  text-shadow: 0.5px 0.5px 2px #696175;
  font-size: 50px;
  margin: 0px;
  margin-top: 90px;
}

.hero-text {
  color: white;
  font-size: 26px;
}

.hero-bottom {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}

.booking-panel {
  width: 78%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 79%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.booking-title {
  color: white;
  font-size: 30px;
  margin-top: 37px;
}

form {
  margin-top: 10px;
}

input {
  height: 47px;
  width: 250px;
  margin-left: 3px;
  padding-left: 20px;
  font-size: 14px;
  font-weight: bold;
}

input::placeholder {
  color: black;
}

button {
  height: 54px;
  width: 135px;
  margin-left: 10px;
  background-color: #006bb3;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: none;
}

button:focus {
  outline: none;
}

.calendar-text {
  color: white;
  margin-left: 14px;
}

.calendar {
  color: white;
  font-size: 25px;
}

.calendar-wrapper {
  display: flex;
  align-items: center;
  width: 978px;
  margin-bottom: 15px;
}
